@import '../../theme/theme.scss';

.sideBar {
    width: 250px;
    background-color: $bg-secondary;
    height: 100%;
    position: fixed;
    color: $primary-text;
    border-right: 1px solid $main-border;
}