@import '../../../theme/theme.scss';

.ButtonFollow {
   font-size: 14px;
   font-weight: normal;
   color: $primary-color;
   border: 1px $primary-color solid;
   background-color: transparent;
   padding: 5px 45px;
   cursor: pointer;
   border-radius: 2px;

   &:hover {
      background-color: $primary-color;
      color: #FFFFFF;
   }
}

