@import '../../../theme/theme.scss';

.sidebarHeader {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid $main-border;
    justify-content: center;
    position: relative;
    
    .logo {
        width: 150px;
    }

    .tabWrapper {
        position: absolute;
        right: -26px;
    }
 
}