@import 'reset.scss';
@import 'theme.scss';

html {
    font-size: 62.5%; /* 62.5% of 16px = 10px */   
}

$sidebar-size: 300px;

.contentWrapper {
    margin-left: $sidebar-size;
}

.wrapperBody {
    padding: $s-xsmall $s-large;
}

@media (max-width: $b-medium) {
    .wrapperBody {
        padding: $s-xlarge $s-medium;
    }

    .contentWrapper {
        margin-left: 0;
    }
}