@import 'reset.scss';
@import 'theme.scss';

.contentWrapper {
    margin-left: 250px;
}

.wrapperBody {
    padding: 60px 80px;
}

@media (max-width: 800px) {
    .wrapperBody {
        padding: 60px 15px;
    }
}