@import 'reset.scss';
@import 'theme.scss';

$sidebar-size: 300px;

.contentWrapper {
    margin-left: $sidebar-size;
}

.wrapperBody {
    padding: $s-medium  $s-large;
}

@media (max-width: $b-medium) {
    .wrapperBody {
        padding: $s-xlarge $s-medium;
    }
}